.host_identity_photo{
    border: 1px solid black;
    padding-top: 0.1cm;
    padding-left: 0.2cm;
}

.host_identity_h4{
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0.5cm;
}
.host_identity_button_area{
    padding-top: 0.8cm;
}
.host_identity_button{
    background-color: #194df7;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
    font-size: 20px;
}