.guestpage__header{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    z-index: 100;
    width: 100%;
    margin:  20px 0;
    border-bottom: solid 1px lightgray;
    background-color: rgb(4, 58, 37);
}

.guestpage__header img {
    margin-top: 20px;
}
.guestpageheader__right{
    display: flex;
    margin: 20px;
}

.guestpageheader__right  img{
    display: flex;
    margin: 20px;
    width: 35px;
    
}