.container-slider{
    display: flex;
    margin: 20px;
    width: 1300px;
    height: 400px;
    padding: 10px 0;
}
.container-slider  img {
    display: flex;
    margin: 10px;
    width: 35px;
    height: 350px;
}

.alarmhome__info{
    font-size: 40px;
    font-weight: 1000;
}

.slide{
    display: flex;
    justify-content: space-evenly;
}
.slide img{
    display: flex;
    width: 550px;
}

.container_info{
    display: flex;

}