.guest_checkoutcard_title{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-bottom: 0.5cm;
}
.guest_checkoutcard_checkin{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-bottom: 0.5cm;
}
.guest_checkoutcard_checkout{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0.5cm;
}
.guest_checkoutcard_menu{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-bottom: 0.5cm;
}
.guest_checkoutcard_h4{
    color: rgb(255, 0, 0);
    font-size: 18px;
}