.largeCard__container{
    justify-content: center;
    position: relative;
}

.largeCard__container img{
    border-radius: 25px;
    max-width: 1280px;
}

.largeCard__text{
    position: absolute;
    top: 32px;
    left: 12px;
    font-size: xx-large;
    margin-bottom: 30px;
}

.largeCard__text button{
    cursor: pointer;
    font-size: medium;
    color: white;
    background-color: rgb(19, 19, 24);
    border-radius: 15px;
    padding: 15px 20px;
}