.smallCard_text{
    font-weight: 800;
    padding-bottom: 5px;
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.smallCard{
    display: flex;
    justify-content: center;
}

.largeCard{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}