/* flex py-7 px-2 pr-4 border-b cursor-pointer hover:opacity-80 hover:shadow-lg transition duration-200 ease-out first:border-t */


.list_container{
    display: flex;
    cursor: pointer;
    padding: 1.75rem 0.5rem;
    border-top: 0.5px solid rgb(243, 243, 243);
}

.list_container:hover{
    box-shadow: inset;
    animation-duration: 200s;
    transition: ease-out;
    opacity: 0.8;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

/* relative h-24 w-40 md:h-52 md:w-80 flex-shrink-0 */
.list_container img{
    position: relative;
    height: 13rem;
    width: 20rem;
    flex-shrink: 0;
    border-radius: 25px;
}

.card_info{
    flex-grow: 1;
    margin-left: 10px;
    display: flex;
    padding-left: 1.25rem;
    flex-direction: column;
}

.card_info-category{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    justify-content: space-between;
    font-size: 18px;
}

.card_bottom{
    display: flex;
    justify-content:  space-between;
}


.card_bottom button{
    background-color: green;
    cursor: pointer;
    color: white;
    font-size: large;
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 2px gainsboro;
}
.card_bottom button:hover{
    box-shadow: 2px 3px gainsboro;
}
.card_bottom button:active{
    box-shadow: 1px 1px 0 rgb(0,0,0,0.5); 
    position: relative;
    top:2px;
    transform: scale( 1.1 );
}