.hostReservation_check{
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
}


.hostReservaion_info button {
    justify-content: flex-end;
    position: relative;
    justify-content: center;
    width: 150px;
    height: 50px;
    margin: 10px;
}

.hostReservaion_info{
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.hostReservaion_info_button{
    display: flex;
}
.hostReservaion_info_button textarea{
    margin-top: 20px;
    width: 600px ;
    height: 60px;
}