.listCard__container {
    display: flex;
    width: 1000px;
    padding: 10px;
    margin: 20px 0;
}
.listCard__container img{
    display: flex;
    width: 720px;
    margin-right: 5px;
}

.shelter__description{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-around;
}

.reservation_button{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}