.header{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top:0;
    z-index: 100;
    width: 100%;
    margin:  20px;
    border-bottom: solid 1px lightgray;
    background-color: white;
}
.header__addShelter >button{
    margin-top: 20px;
    border-radius: 30px;
    background-color: rgb(0, 54, 54);
    color: white;
    border: solid 1px white;
    font-family: 'Jua', sans-serif;
}

.header__logo >img{
    width: 120px;
    height: 80px;
}

.header__signup >button{
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 30px;
    background-color: rgb(0, 29, 29);
    color: white;
    border: solid 1px white;
    font-family: 'Jua', sans-serif;
}
